{{- include "runai-common.pvc" . }}

---

{{- if .Values.interactive }}
apiVersion: apps/v1
kind: "StatefulSet"
{{- else }}
apiVersion: batch/v1
kind: "Job"
{{- end }}

{{- $combinedVolume := list }}
{{- range $volume := (.Values.volume | default list) }}
{{- $combinedVolume = append $combinedVolume $volume }}
{{- end}}
{{- range $volume := (.Values.volumeDefault | default list) }}
{{- $combinedVolume = append $combinedVolume $volume }}
{{- end}}

metadata:
  name: {{ .Release.Name }}
  labels:
  {{- include "runai-common.charts.label-addition" . | indent 4 }}
    {{- if and .Values.interactive .Values.isPreemptible }}
    priorityClassName: "interactive-preemptible"
    {{- end}}
  {{- if .Values.labels }}
    {{- range $key, $val := .Values.labels }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
  {{- end}}
spec:
  {{- if .Values.interactive }}
  serviceName: {{ .Release.Name }}
  replicas: 1
  selector:
    matchLabels:
      release: {{ .Release.Name }}
  {{- else }}
    {{- if or .Values.ttlSecondsAfterFinished (eq (quote .Values.ttlSecondsAfterFinished) (quote 0))}}
  ttlSecondsAfterFinished: {{ .Values.ttlSecondsAfterFinished }}
    {{- end }}
    {{- if .Values.parallelism }}
  parallelism: {{ .Values.parallelism }}
    {{- end }}
    {{- if .Values.completions }}
  completions: {{ .Values.completions }}
    {{- end }}
    {{- /* need to test specifically for non-null values. 0 values is ok too */ -}}
    {{- if not (kindIs "invalid" .Values.backoffLimit) }}
  backoffLimit: {{ .Values.backoffLimit }}
    {{- end }}
  {{- end }}
  template:
    metadata:
      annotations:
        {{- if .Values.gpuFraction }}
        gpu-fraction: "{{ .Values.gpuFraction }}"
        {{- end }}
        {{- if .Values.elastic }}
        elastic: {{ .Values.elastic | quote }}
        {{- end }}
      labels:
        {{- include "runai-common.charts.label-addition" . | indent 8}}
        {{- if .Values.user }}
        user: {{ .Values.user }}
        {{- end }}
    spec:
      {{- if .Values.node_type }}
      nodeSelector:
        run.ai/type: {{ .Values.node_type }}
      {{- end}}
      schedulerName: runai-scheduler
      {{- if eq .Values.interactive false}}
      restartPolicy: Never
      {{- end}}
      hostIPC: {{ .Values.hostIPC }}
      hostNetwork: {{ .Values.hostNetwork }}
      securityContext:
        {{- if .Values.runAsUser }}
        runAsUser: {{ .Values.runAsUser }}
        {{- end}}
        {{- if .Values.runAsGroup }}
        runAsGroup: {{ .Values.runAsGroup }}
        {{- end }}
        {{- if .Values.supplementalGroups }}
        supplementalGroups:
{{ toYaml .Values.supplementalGroups | indent 10}}
        {{- end }}
      containers:
        - name: {{ .Release.Name }}
          command:
          {{ range $index, $command := .Values.command }}
          - {{ quote $command }}
          {{- end}}
          {{- if .Values.args}}
          args: 
          {{ range $index, $arg := .Values.args }}
          - {{ quote $arg }}
          {{- end}}
          {{- end}}
          image: {{ .Values.image }}
          {{- if .Values.localImage}}
          imagePullPolicy: Never
          {{- else if .Values.alwaysPullImage }}
          imagePullPolicy: Always
          {{- end }}
          {{- if .Values.workingDir }}
          workingDir: {{ .Values.workingDir }}
          {{- end}}
          securityContext:
            allowPrivilegeEscalation: {{ not .Values.preventPrivilegeEscalation }}
          resources:
            limits:
              {{- if .Values.gpuInt }}
              nvidia.com/gpu: {{ .Values.gpuInt }}
              {{- end}}
              {{- if .Values.cpuLimit}}
              cpu: {{ .Values.cpuLimit }}
              {{- end}}
              {{- if .Values.memoryLimit}}
              memory: {{ .Values.memoryLimit }}
              {{- end }}
            requests:
              {{- if .Values.cpu}}
              cpu: {{ .Values.cpu }}
              {{- end}}
              {{- if .Values.memory}}
              memory: {{ .Values.memory }}
              {{- end }}
          env:
            # Not using concat to support previous version of helm
            {{- range $index, $env := .Values.environmentDefault }}
            {{ $parts := split "=" $env }}
            - name: {{ quote $parts._0 }}
              value: {{ quote $parts._1}}
            {{- end }}
            {{- range $index, $env := .Values.environment }}
            {{ $parts := split "=" $env }}
            - name: {{ quote $parts._0 }}
              value: {{ quote $parts._1}}
            {{- end }}
          {{- include "runai-common.job.ports" . | indent 10 }}
          {{- include "runai-common.job.volume.mounts" . | indent 10 }}
        {{- include "runai-common.job.volumes" . | indent 6 }}